<div class="profile">
    <img src="http://commentcentral.co.uk/wp-content/uploads/2017/04/Mushroom-Cloud-Gradient-1.jpg" width="60%">
    <h1 class="megadeth">Player Destroyed!</h1>
    <a href="/players">Surviving Players</a>
</div>