<div class="profile">
    <h1>{{player.playerName}} Was Mutated!</h1>
    <img src="{{player.playerPhoto}}" height="150px">
    <br>
    <a href="/players/{{player._id}}">Player Stats</a>
    <br>
    <a href="/players">Surviving Players</a>
</div>