<h1>Players</h1>
<ul>
    {{#each players}}
        <li>
            <a href="/players/{{_id}}">
            <img src="{{playerPhoto}}" height="150px"><br>
            {{playerName}}
            </a>
        </li>
    {{/each}}
</ul>