<!DOCTYPE>
	<html>
	<head>
		<title>Monster League Sports</title>
		<link href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="./style.css">
	</head>
	<body>
		<nav>
			<a href='/'><h1>Monster League Sports</h1></a>
            <a href='/players'><h1>Players</h1></a>
            <a href='/teams'><h1>Teams</h1></a>
            <a href='/cities'><h1>Cities</h1></a>
		</nav>
	    {{{ body }}}
	</body>
</html>