<!DOCTYPE>
	<html>
	<head>
		<title>Monster League Sports</title>
		<link href="https://fonts.googleapis.com/css?family=Creepster|Nosifer|Voltaire" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../style.css">
	</head>
	<body>
		<nav>
			<a href='/' class="superlink"><h1>Monster League Sports</h1></a><br>
            <a href='/players' class="sublink"><h2>Players</h2></a>
            <a href='/teams' class="sublink"><h2>Teams</h2></a>
            <a href='/cities' class="sublink"><h2>Cities</h2></a>
		</nav>
	    {{{ body }}}
	</body>
</html>