<div class="profile">
    <h1>{{city.cityName}} Was Mutated!</h1>
    <img src="{{city.cityPhoto}}" height="150px">
    <br>
    <a href="/cities/{{city._id}}">City Stats</a>
    <br>
    <a href="/cities">Surviving Cities</a>
</div>