body {
	background: url("Underworld.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
}

img {
	border-radius: 20px;
}

ul {
	margin: 0 auto;
	text-align: center;
}

li {
	display: inline-block;
	list-style: none;
	margin: 20px 10px;
}

nav a {
	display: inline-block;
	margin: 30px;
}

input {
	height: 30px;
	border-radius: 10px;
	margin: 5px
}

h1 {
	font-family: 'Creepster', cursive;
	font-size: 60px;
	margin: 0 auto;
	color: lime;
}

.profile {
	background-color: rgba(0,0,0,0.6);
	width: 60%;
	text-align: center;
	margin: 0 auto;
	border-radius: 40px;
	padding: 10px;
}